@charset "UTF-8";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);
html {
  font-size: 62.5%;
}

body,
button,
input,
textarea,
::placeholder {
  font-family: "NanumSquare", sans-serif;
}

body {
  background: #fff;
  color: #000;
}

.hidden {
  display: none;
}

.center_wrap {
  width: 100%;
  max-width: 1132px;
  margin: 0 auto;
}

/*==============================================
|||||||||||||||||||||||||||||||||||||||||||||||||
  모바일 Mobile
|||||||||||||||||||||||||||||||||||||||||||||||||
================================================*/
/*==============================================
  랜딩 페이지
================================================*/
/*<----------헤더 header---------->*/
.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: #fff;
}
.header .util_mobile_wrap {
  display: flex;
  justify-content: end;
  padding: 7px 10px;
  background: #32393f;
}
.header .util_mobile {
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.header .util_mobile li {
  display: flex;
  align-items: center;
  margin-right: 8px;
}
.header .util_mobile li:last-child {
  margin-right: 0;
}
.header .util_mobile li img {
  margin-right: 4px;
  width: 1rem;
}
.header .util_mobile li a {
  font-size: 1rem;
  color: #fff;
}
.header .header_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 101;
  padding: 10px;
  box-shadow: 0 3px 3px rgba(35, 31, 32, 0.3);
}
.header h1 {
  width: 188px;
}
.header .util {
  display: none;
}
.header .hamburger_menu {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 7px 8px;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.1;
}

/*<----------네비게이션 navigation---------->*/
.nav_wrap {
  position: relative;
  height: 0;
}
.nav_wrap .nav_bg {
  opacity: 0;
  pointer-events: none;
}
.nav_wrap .nav {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: #f3f4f6;
  transform: translateX(100%);
  transition: transform 0.6s;
}
.nav_wrap .nav.show {
  display: block;
}
.nav_wrap .nav.on {
  transform: translateX(0);
}
.nav_wrap .depth1_menu {
  overflow: hidden;
}
.nav_wrap .depth1_title {
  display: block;
  position: relative;
  padding: 13px 20px;
  border-bottom: 1px solid #a7a9ac;
  background: #f3f4f6;
  color: #6d6e71;
  font-size: 1.4em;
  font-weight: 800;
  transition: background 0.2s, color 0.1s;
}
.nav_wrap .depth1_title.on {
  background: #072559;
  color: #fff;
}
.nav_wrap .depth1_title.on .arrow_box img {
  transform: rotate(180deg);
}
.nav_wrap .depth1_title .arrow_box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 20px;
  width: 25px;
  height: 25px;
  transform: translateY(-50%);
  pointer-events: none;
}
.nav_wrap .depth1_title .arrow_box img {
  transition: all 0.3s ease-in-out;
}
.nav_wrap .depth2_wrap {
  height: 0;
  transition: all 0.3s ease-in-out;
}
.nav_wrap .depth2_intro {
  display: none;
}
.nav_wrap .depth2_list {
  display: flex;
  flex-wrap: wrap;
}
.nav_wrap .depth2_list.sub1 li:last-child, .nav_wrap .depth2_list.sub5 li:last-child {
  width: 100%;
  border-right: none;
}
.nav_wrap .depth2_list li {
  width: 50%;
}
.nav_wrap .depth2_list li a {
  display: block;
  padding: 10px 0;
  border-bottom: 1px solid #d1d3d4;
  background: #fff;
  color: #231f20;
  font-size: 1.2rem;
  text-align: center;
}
.nav_wrap .depth2_list li:nth-child(odd) {
  border-right: 1px solid #d1d3d4;
}
.nav_wrap .depth2_list li:active a {
  background: #3d5bcb;
  color: #fff;
  font-weight: 800;
}

/*<----------홈 검색 search---------->*/
.search_section {
  background: linear-gradient(to right, #43b5be, #3d5bcb);
  color: #fff;
}
.search_section .search_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 20px 10px;
}
.search_section .section_title {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  color: transparent;
}
.search_section .category_dropbox {
  position: relative;
  overflow: hidden;
  min-width: 95px;
  margin-right: 20px;
}
.search_section .category_dropbox.on {
  overflow: visible;
}
.search_section .category_dropbox.on .arrow_box img {
  transform: rotate(180deg);
}
.search_section .category_dropbox.on .category_list {
  display: block;
}
.search_section .category_select {
  position: relative;
  padding: 10px 50px 10px 10px;
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 1.7rem;
}
.search_section .arrow_box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 10px;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
}
.search_section .arrow_box img {
  transition: all 0.3s ease-in-out;
}
.search_section .category_list {
  display: none;
  overflow: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(35, 31, 32, 0.5);
}
.search_section .category_list li {
  width: 100%;
  padding: 15px 10px;
  color: #231f20;
  font-size: 1.7rem;
  text-align: center;
}
.search_section .category_list li:hover, .search_section .category_list li:active {
  background: #f3f4f6;
}
.search_section .search_form {
  position: relative;
  flex-grow: 1;
  max-width: 250px;
}
.search_section .search_form::after {
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  right: 10px;
  background: center/contain no-repeat url("../images/search_icon.png");
  transform: translateY(-50%);
  content: "";
  pointer-events: none;
}
.search_section .search_input {
  display: block;
  padding: 10px 42px 10px 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  width: 100%;
  color: #fff;
  font-size: 1.7rem;
}
.search_section .search_input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.7rem;
}

/*<----------홈 비주얼 visual---------->*/
.visual_section .slider_list {
  position: relative;
}
.visual_section .slider_item {
  width: 100%;
  opacity: 0;
  transition: all 1s;
}
.visual_section .slider_item:first-child {
  position: relative;
  z-index: 0;
}
.visual_section .slider_item:not(:first-child) {
  position: absolute;
  top: 0;
  z-index: 0;
}
.visual_section .slider_item a {
  display: block;
  width: 100%;
}
.visual_section .slider_item img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.visual_section .slider_item.on {
  z-index: 3;
  opacity: 1;
}

/*<----------홈 바로가기 아이콘 shortcut icons---------->*/
.shortcut_icon_section .center_wrap {
  position: relative;
  padding: 20px 10px;
  background: #fff;
}
.shortcut_icon_section .slider_wrap {
  position: relative;
  overflow: hidden;
  height: 200px;
  max-width: calc(100% - 80px);
  margin: 0 auto;
}
.shortcut_icon_section .slider {
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.shortcut_icon_section .slider.animated {
  transition: left 0.3s;
}
.shortcut_icon_section .slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 50%;
}
.shortcut_icon_section .content_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 80%;
}
.shortcut_icon_section .content_wrap img {
  height: 60%;
  max-height: 85px;
}
.shortcut_icon_section .icon_txt {
  margin-top: 15px;
  color: #231f20;
  font-size: 1.2rem;
  font-weight: 600;
}
.shortcut_icon_section .prev_btn,
.shortcut_icon_section .next_btn {
  display: block;
  position: absolute;
  top: 50%;
  z-index: 3;
  width: 40px;
  height: 40px;
  transform: translateY(-50%);
}
.shortcut_icon_section .prev_btn img,
.shortcut_icon_section .next_btn img {
  display: block;
  height: 100%;
  margin: 0 auto;
}
.shortcut_icon_section .prev_btn {
  left: 10px;
}
.shortcut_icon_section .prev_btn img {
  transform: rotate(180deg);
}
.shortcut_icon_section .next_btn {
  right: 10px;
}

/*<----------홈 공지사항 notice---------->*/
.notice_section {
  padding: 20px 10px;
}
.notice_section .section_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid #000;
}
.notice_section .section_title {
  color: #000;
  font-size: 1.9rem;
  font-weight: 800;
}
.notice_section .more_link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
}
.notice_section .notice_list {
  padding: 15px 0;
}
.notice_section .notice_list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.notice_section .notice_list .notice_title {
  overflow: hidden;
  color: #231f20;
  font-size: 1.3rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.notice_section .notice_list .notice_title::before {
  display: inline-block;
  margin-right: 3px;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
  background: #43b5be;
  transform: translateY(-0.1rem);
  content: "";
}
.notice_section .notice_list .notice_date {
  flex-shrink: 0;
  margin-left: 10px;
  color: #6d6e71;
  font-size: 1rem;
}

/*<----------홈 바로가기 블럭 shortcut blocks---------->*/
.shortcut_block_section {
  display: flex;
  flex-wrap: wrap;
}
.shortcut_block_section > div {
  width: 50%;
  height: 40vw;
}
.shortcut_block_section .text_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
}
.shortcut_block_section .shortcut_txt {
  font-size: 1.7rem;
  font-weight: 600;
}
.shortcut_block_section .shortcut_txt_sub {
  margin-top: 15px;
  font-size: 1.4rem;
}
.shortcut_block_section .schedule {
  background: center/cover no-repeat url("../images/bg_calendar.png");
}
.shortcut_block_section .schedule .shortcut_txt_sub::after {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  margin-left: 5px;
  background: center/contain no-repeat url("../images/arrow_next_white.png");
  transform: translateY(0.4rem);
  content: "";
}
.shortcut_block_section .sites {
  background: center/cover no-repeat url("../images/bg_sites.png");
}
.shortcut_block_section .faq {
  background: center/cover no-repeat url("../images/bg_faq.png");
}
.shortcut_block_section .ask {
  background: center/cover no-repeat url("../images/bg_question.png");
}
.shortcut_block_section .ask .shortcut_txt {
  line-height: 1.3;
}

/*<----------도서 books---------->*/
.books_section {
  padding: 30px 10px;
  background: #f3f4f6;
}
.books_section .center_wrap {
  position: relative;
}
.books_section .category_tabs {
  display: flex;
  border-bottom: 2px solid #000;
  margin-bottom: 30px;
  padding: 10px;
}
.books_section .tab {
  color: #6d6e71;
  font-size: 1.9rem;
  font-weight: 800;
  margin-right: 12px;
  transition: color 0.2s;
  cursor: pointer;
}
.books_section .tab:last-child {
  margin-right: 0;
}
.books_section .tab.on {
  color: #000;
}
.books_section .tab:hover {
  color: #3d5bcb;
}
.books_section .books_list_wrap {
  display: none;
}
.books_section .books_list_wrap.on {
  display: block;
}
.books_section .books_list {
  display: flex;
  align-items: center;
  overflow: hidden;
}
.books_section .books_list li {
  flex-shrink: 0;
  width: 50%;
}
.books_section .book_content {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}
.books_section .book_cover {
  height: 30vh;
  min-height: 200px;
}
.books_section .book_cover img {
  max-width: initial;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.books_section .book_title {
  overflow: hidden;
  margin: 20px 5px 10px;
  color: #231f20;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.books_section .book_info {
  overflow: hidden;
  margin: 0 5px 10px;
  color: #6d6e71;
  font-size: 1.3rem;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.books_section .book_date {
  margin: 0 5px 10px;
  color: #6d6e71;
  font-size: 1.3rem;
  text-align: center;
}
.books_section .more_link {
  display: block;
  position: absolute;
  top: 40px;
  right: 20px;
  width: 2rem;
  height: 2rem;
}

/*<----------푸터 footer---------->*/
.footer {
  background: #32393f;
  color: #fff;
}
.footer .center_wrap {
  padding: 0 15px;
}
.footer .footer_box1 {
  padding: 10px 0;
}
.footer .footer_menu a {
  display: block;
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  font-size: 1.3rem;
  text-align: center;
}
.footer .footer_menu a:first-of-type {
  font-weight: 600;
}
.footer .footer_menu a:nth-of-type(2), .footer .footer_menu a:nth-of-type(3) {
  opacity: 0.3;
}
.footer .footer_menu .divider {
  width: 100%;
  background: #fff;
  opacity: 0.3;
}
.footer .footer_logo {
  display: none;
}
.footer .footer_box2 {
  padding: 10px 0 30px;
}
.footer .contact {
  margin-bottom: 20px;
  font-size: 1.1rem;
  text-align: center;
}
.footer .contact .address {
  margin-bottom: 10px;
  font-weight: 600;
  font-style: normal;
}
.footer .contact .tel,
.footer .contact .fax {
  margin-bottom: 5px;
  opacity: 0.3;
}
.footer .copyright {
  font-size: 1.1rem;
  text-align: center;
  opacity: 0.3;
}
.footer .footer_box3 {
  display: none;
}

/*==============================================
|||||||||||||||||||||||||||||||||||||||||||||||||
  태블릿 Tablet
|||||||||||||||||||||||||||||||||||||||||||||||||
================================================*/
@media only screen and (min-width: 768px) {
  /*==============================================
    랜딩 페이지
  ================================================*/
  /*<----------헤더 header---------->*/
  .header .util_mobile_wrap {
    display: none;
  }
  .header .header_wrap {
    padding: 15px;
  }
  .header h1 {
    width: 220px;
  }
  .header .util {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
    padding: 10px 10px;
    border: 1px solid #6d6e71;
    border-radius: 3px;
  }
  .header .util li {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  .header .util li:last-child {
    margin-right: 0;
  }
  .header .util li img {
    margin-right: 4px;
    width: 1.4rem;
  }
  .header .util li a {
    font-size: 1.4rem;
    color: #6d6e71;
  }
  .header .hamburger_menu {
    padding: 7px 9px;
    font-size: 1.4rem;
  }
  /*<----------네비게이션 navigation---------->*/
  .nav_wrap .nav_bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(35, 31, 32, 0.7);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
  }
  .nav_wrap .nav_bg.on {
    opacity: 1;
    pointer-events: initial;
  }
  .nav_wrap .nav {
    width: 70%;
  }
  .nav_wrap .depth1_title {
    padding: 20px;
    font-size: 2rem;
  }
  .nav_wrap .depth2_list li a {
    padding: 15px 0;
    font-size: 1.7rem;
  }
  /*<----------홈 검색 search---------->*/
  .search_section .section_title {
    position: static;
    width: initial;
    height: initial;
    margin: 0 40px 0 0;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 600;
  }
  .search_section .search_form::after {
    right: 15px;
  }
  .search_section .search_input {
    padding: 10px 49px 10px 15px;
  }
  /*<----------홈 바로가기 아이콘 shortcut icons---------->*/
  .shortcut_icon_section .center_wrap {
    max-width: 75%;
    padding: 20px 0;
  }
  .shortcut_icon_section .slider_wrap {
    height: 220px;
    max-width: calc(100% - 96px);
  }
  .shortcut_icon_section .slide {
    width: 33%;
  }
  .shortcut_icon_section .content_wrap img {
    max-height: 100px;
  }
  .shortcut_icon_section .icon_txt {
    margin-top: 30px;
    font-size: 1.7rem;
  }
  .shortcut_icon_section .prev_btn,
.shortcut_icon_section .next_btn {
    width: 48px;
    height: 48px;
  }
  .shortcut_icon_section .prev_btn {
    left: 0px;
  }
  .shortcut_icon_section .next_btn {
    right: 0px;
  }
  /*<----------홈 공지사항 notice---------->*/
  .notice_section {
    max-width: 75%;
    margin: 0 auto;
  }
  .notice_section .section_head {
    padding: 15px;
  }
  .notice_section .section_title {
    font-size: 2.4rem;
  }
  .notice_section .more_link {
    width: 2.4rem;
    height: 2.4rem;
  }
  .notice_section .notice_list .notice_title {
    font-size: 1.7rem;
  }
  .notice_section .notice_list .notice_title::before {
    width: 0.8rem;
    height: 0.8rem;
    transform: translateY(-0.15rem);
  }
  .notice_section .notice_list .notice_date {
    font-size: 1.5rem;
  }
  /*<----------홈 바로가기 블럭 shortcut block---------->*/
  .shortcut_block_section > div {
    width: 25%;
    height: 20vw;
  }
  .shortcut_block_section .shortcut_txt {
    font-size: 2.4rem;
  }
  .shortcut_block_section .shortcut_txt_sub {
    font-size: 2.1rem;
  }
  .shortcut_block_section .schedule .shortcut_txt_sub::after {
    width: 1.8rem;
    height: 1.8rem;
    transform: translateY(0.4rem);
  }
  /*<----------도서 books---------->*/
  .books_section {
    padding: 40px 10px;
  }
  .books_section .category_tabs {
    max-width: 75%;
    margin: 0 auto 30px;
    padding: 15px;
  }
  .books_section .tab {
    font-size: 2.4rem;
    margin-right: 20px;
  }
  .books_section .books_list_wrap {
    max-width: 75%;
    margin: 0 auto;
  }
  .books_section .books_list li {
    width: 33.3334%;
  }
  .books_section .book_cover {
    height: 24vh;
  }
  .books_section .book_title {
    font-size: 1.7rem;
  }
  .books_section .book_info {
    font-size: 1.5rem;
  }
  .books_section .book_date {
    font-size: 1.5rem;
  }
  .books_section .more_link {
    top: 15px;
    right: calc(12.5% + 15px);
    width: 2.4rem;
    height: 2.4rem;
  }
  /*<----------푸터 footer---------->*/
  .footer {
    padding: 40px 40px 50px;
  }
  .footer .center_wrap {
    position: relative;
  }
  .footer .footer_box1 {
    padding: 0;
  }
  .footer .footer_menu {
    display: flex;
    align-items: center;
  }
  .footer .footer_menu a {
    position: relative;
    width: auto;
    margin: 0 15px 0 0;
    padding: 0 15px 0 0;
    font-size: 1.5rem;
  }
  .footer .footer_menu a::after {
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 100%;
    background: #fff;
    opacity: 0.3;
    transform: translateY(-50%);
    content: "";
  }
  .footer .footer_menu a:nth-of-type(2), .footer .footer_menu a:nth-of-type(3) {
    opacity: 0.3;
  }
  .footer .footer_menu .divider {
    display: none;
  }
  .footer .footer_box2 {
    padding: 30px 0 0px;
  }
  .footer .contact {
    margin-bottom: 20px;
    font-size: 1.5rem;
    text-align: left;
  }
  .footer .contact .tel,
.footer .contact .fax {
    display: inline-block;
    margin-right: 15px;
  }
  .footer .copyright {
    font-size: 1.5rem;
    text-align: left;
  }
  .footer .footer_box3 {
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    width: 120px;
    transform: translateY(-50%);
  }
}
/*==============================================
|||||||||||||||||||||||||||||||||||||||||||||||||
  PC
|||||||||||||||||||||||||||||||||||||||||||||||||
================================================*/
@media only screen and (min-width: 1132px) {
  /*==============================================
    랜딩 페이지
  ================================================*/
  /*<----------헤더 header---------->*/
  .header {
    box-shadow: 0 3px 3px rgba(35, 31, 32, 0.3);
  }
  .header h1 {
    width: 240px;
  }
  .header .util {
    margin-right: 0;
  }
  .header .hamburger_menu {
    display: none;
  }
  .header .header_wrap {
    box-shadow: none;
  }
  /*<----------네비게이션 navigation---------->*/
  .nav_wrap {
    height: auto;
    border-top: 1px solid #d1d3d4;
  }
  .nav_wrap .nav_bg {
    display: none;
  }
  .nav_wrap .nav {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fff;
    transform: initial;
  }
  .nav_wrap .depth1_list {
    display: flex;
    max-width: 1132px;
    margin: 0 auto;
  }
  .nav_wrap .depth1_menu {
    flex-grow: 1;
  }
  .nav_wrap .depth1_menu:last-child .depth1_title::before {
    display: none;
  }
  .nav_wrap .depth1_menu:hover .depth2_wrap {
    display: block;
  }
  .nav_wrap .depth1_title {
    padding: 20px 10px;
    border-bottom: 0;
    background: #fff;
    color: #000;
    font-size: 1.9em;
    font-weight: 600;
    text-align: center;
    transition: background-color 0.1s, color 0.1s;
  }
  .nav_wrap .depth1_title .arrow_box {
    display: none;
  }
  .nav_wrap .depth1_title::before {
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 50%;
    background: #d1d3d4;
    transform: translateY(-50%);
    content: "";
  }
  .nav_wrap .depth1_title::after {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: #43b5be;
    opacity: 0;
    transition: all 0.2s;
    content: "";
  }
  .nav_wrap .depth1_title:focus::after, .nav_wrap .depth1_title:hover::after {
    height: 4px;
    opacity: 1;
  }
  .nav_wrap .depth2_wrap {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    padding: 30px 0 40px;
    border-top: 1px solid #d1d3d4;
    background: #fff;
    box-shadow: 0 3px 3px rgba(35, 31, 32, 0.3);
  }
  .nav_wrap .depth2_wrap .center_wrap {
    display: flex;
  }
  .nav_wrap .depth2_intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 22%;
    padding: 30px 0;
    border-right: 1px solid #d1d3d4;
  }
  .nav_wrap .depth2_intro .intro_title {
    margin-bottom: 30px;
    font-size: 2.2rem;
    font-weight: 800;
  }
  .nav_wrap .depth2_intro img {
    display: block;
    width: auto;
    height: 88px;
  }
  .nav_wrap .depth2_list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 78%;
    padding: 0 40px;
  }
  .nav_wrap .depth2_list.sub1 li:last-child, .nav_wrap .depth2_list.sub5 li:last-child {
    width: 33.3333%;
  }
  .nav_wrap .depth2_list li {
    width: 33.3333%;
  }
  .nav_wrap .depth2_list li a {
    margin-right: 50px;
    padding: 12px 0 12px 20px;
    border-bottom: 1px solid #d1d3d4;
    background: #fff;
    color: #231f20;
    font-size: 1.7rem;
    font-weight: 600;
    text-align: left;
    transition: all 0.2s;
  }
  .nav_wrap .depth2_list li a:hover, .nav_wrap .depth2_list li a:focus {
    background: #3d5bcb;
    color: #fff;
    font-weight: 800;
  }
  .nav_wrap .depth2_list li:nth-child(odd) {
    border-right: 0;
  }
  /*<----------비주얼 visual---------->*/
  .visual_section .slider {
    max-width: 1920px;
    margin: 0 auto;
  }
  /*<----------홈 바로가기 아이콘 shortcut icons---------->*/
  .shortcut_icon_section .center_wrap {
    max-width: 1132px;
    padding: 50px 0;
  }
  .shortcut_icon_section .slider_wrap {
    max-width: calc(100% - 120px);
  }
  .shortcut_icon_section .slide {
    width: 25%;
  }
  .shortcut_icon_section .content_wrap img {
    max-height: 110px;
  }
  .shortcut_icon_section .prev_btn,
.shortcut_icon_section .next_btn {
    width: 60px;
    height: 60px;
  }
  /*<----------홈 공지사항 notice---------->*/
  .notice_and_block {
    display: flex;
    align-items: center;
  }
  .notice_section {
    max-width: 50%;
    margin: 0;
    padding: 20px 30px;
  }
  .notice_section .section_head {
    padding: 25px 15px;
  }
  .notice_section .notice_list {
    padding: 25px 0;
  }
  .notice_section .notice_list li {
    padding: 20px 0;
  }
  .notice_section .notice_list .notice_title a:hover, .notice_section .notice_list .notice_title a:focus {
    text-decoration: underline;
  }
  .notice_section .notice_list .notice_date {
    margin-left: 20px;
  }
  /*<----------홈 바로가기 블럭 shortcut block---------->*/
  .shortcut_block_section {
    width: 50%;
  }
  .shortcut_block_section > div {
    position: relative;
    width: 50%;
    height: auto;
    min-height: 230px;
  }
  .shortcut_block_section .text_wrap {
    transition: all 0.4s;
  }
  .shortcut_block_section .text_wrap:hover, .shortcut_block_section .text_wrap:focus {
    background: rgba(0, 0, 0, 0.6);
  }
  /*<----------도서 books---------->*/
  .books_section {
    padding: 40px 10px 50px;
  }
  .books_section .center_wrap {
    padding: 0 30px;
  }
  .books_section .category_tabs {
    max-width: initial;
    margin: 0 auto 50px;
    padding: 25px 15px;
  }
  .books_section .books_list_wrap {
    max-width: initial;
  }
  .books_section .books_list li {
    width: 25%;
  }
  .books_section .book_cover {
    height: 360px;
  }
  .books_section .book_title {
    margin: 25px 5px 10px;
  }
  .books_section .more_link {
    top: 25px;
    right: 45px;
  }
}/*# sourceMappingURL=main.css.map */