@charset "utf-8";
@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

$colorTGN1: #43b5be;
$colorTGN2: #31a1ab;
$colorBL1: #3d5bcb;
$colorNV1: #072559;
$colorNV2: #32393f;

$colorWH1: #fff;

$colorBK1: #231f20;
$colorDBK1: #000;
$colorLGR1: #f3f4f6;

$colortxtGR1: #6d6e71;

$colorlineLGR1: #d1d3d4;
$colorlineGR1: #a7a9ac;
