@charset "utf-8";
@import "common.scss";

html {
  font-size: 62.5%;
}

body,
button,
input,
textarea,
::placeholder {
  font-family: "NanumSquare", sans-serif;
}

body {
  background: $colorWH1;
  color: $colorDBK1;
}

.hidden {
  display: none;
}

.center_wrap {
  width: 100%;
  max-width: 1132px;
  margin: 0 auto;
}

/*==============================================
|||||||||||||||||||||||||||||||||||||||||||||||||
  모바일 Mobile
|||||||||||||||||||||||||||||||||||||||||||||||||
================================================*/
/*==============================================
  랜딩 페이지
================================================*/
/*<----------헤더 header---------->*/
.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background: $colorWH1;

  .util_mobile_wrap {
    display: flex;
    justify-content: end;
    padding: 7px 10px;
    background: $colorNV2;
  }

  .util_mobile {
    display: flex;
    align-items: center;
    padding: 5px 0;

    li {
      display: flex;
      align-items: center;
      margin-right: 8px;

      &:last-child {
        margin-right: 0;
      }

      img {
        margin-right: 4px;
        width: 1rem;
      }

      a {
        font-size: 1rem;
        color: $colorWH1;
      }
    }
  }

  .header_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 101;
    padding: 10px;
    box-shadow: 0 3px 3px rgba($color: $colorBK1, $alpha: 0.3);
  }

  h1 {
    width: 188px;
    // width: 60%;
  }

  .util {
    display: none;
  }

  .hamburger_menu {
    border: 1px solid $colorDBK1;
    border-radius: 5px;
    padding: 7px 8px;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.1;
  }
}

/*<----------네비게이션 navigation---------->*/
.nav_wrap {
  position: relative;
  height: 0;

  .nav_bg {
    opacity: 0;
    pointer-events: none;
  }

  .nav {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: $colorLGR1;
    transform: translateX(100%);
    transition: transform 0.6s;

    &.show {
      display: block;
    }
    &.on {
      transform: translateX(0);
    }
  }

  .depth1_menu {
    overflow: hidden;
  }

  .depth1_title {
    display: block;
    position: relative;
    padding: 13px 20px;
    border-bottom: 1px solid $colorlineGR1;
    background: $colorLGR1;
    color: $colortxtGR1;
    font-size: 1.4em;
    font-weight: 800;
    transition: background 0.2s, color 0.1s;

    &.on {
      background: $colorNV1;
      color: $colorWH1;

      .arrow_box img {
        transform: rotate(180deg);
      }
    }

    .arrow_box {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      right: 20px;
      width: 25px;
      height: 25px;
      transform: translateY(-50%);
      pointer-events: none;

      img {
        transition: all 0.3s ease-in-out;
      }
    }
  }

  .depth2_wrap {
    height: 0;
    transition: all 0.3s ease-in-out;
  }

  .depth2_intro {
    display: none;
  }

  .depth2_list {
    display: flex;
    flex-wrap: wrap;

    &.sub1 li:last-child,
    &.sub5 li:last-child {
      width: 100%;
      border-right: none;
    }

    li {
      width: 50%;

      a {
        display: block;
        padding: 10px 0;
        border-bottom: 1px solid $colorlineLGR1;
        background: $colorWH1;
        color: $colorBK1;
        font-size: 1.2rem;
        text-align: center;
      }

      &:nth-child(odd) {
        border-right: 1px solid $colorlineLGR1;
      }

      &:active a {
        background: $colorBL1;
        color: $colorWH1;
        font-weight: 800;
      }
    }
  }
}

/*<----------홈 검색 search---------->*/
.search_section {
  background: linear-gradient(to right, $colorTGN1, $colorBL1);
  color: $colorWH1;

  .search_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px 10px;
  }

  .section_title {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    margin: -1px;
    color: transparent;
  }

  .category_dropbox {
    position: relative;
    overflow: hidden;
    min-width: 95px;
    margin-right: 20px;
    cursor: pointer;

    &.on {
      overflow: visible;

      .arrow_box img {
        transform: rotate(180deg);
      }

      .category_list {
        display: block;
      }
    }
  }

  .category_select {
    position: relative;
    padding: 10px 50px 10px 10px;
    border: 2px solid $colorWH1;
    border-radius: 5px;
    font-size: 1.7rem;
    white-space: nowrap;
  }

  .arrow_box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 10px;
    width: 20px;
    height: 20px;
    transform: translateY(-50%);
    pointer-events: none;

    img {
      transition: all 0.3s ease-in-out;
    }
  }

  .category_list {
    display: none;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    width: 100%;
    background: $colorWH1;
    border-radius: 5px;
    box-shadow: 0 3px 3px rgba($color: $colorBK1, $alpha: 0.5);

    li {
      width: 100%;
      padding: 15px 10px;
      color: $colorBK1;
      font-size: 1.7rem;
      text-align: center;

      &:hover,
      &:active {
        background: $colorLGR1;
      }
    }
  }

  .search_form {
    position: relative;
    flex-grow: 1;
    max-width: 250px;

    &::after {
      display: block;
      position: absolute;
      width: 24px;
      height: 24px;
      top: 50%;
      right: 10px;
      background: center / contain no-repeat url("../images/search_icon.png");
      transform: translateY(-50%);
      content: "";
      pointer-events: none;
    }
  }

  .search_input {
    display: block;
    padding: 10px 42px 10px 8px;
    border-bottom: 1px solid rgba($color: $colorWH1, $alpha: 0.6);
    width: 100%;
    color: $colorWH1;
    font-size: 1.7rem;

    &::placeholder {
      color: rgba($color: $colorWH1, $alpha: 0.6);
      font-size: 1.7rem;
    }
  }
}

/*<----------홈 비주얼 visual---------->*/
.visual_section {
  .slider_list {
    position: relative;
  }

  .slider_item {
    width: 100%;
    opacity: 0;
    transition: all 1s;

    &:first-child {
      position: relative;
      z-index: 0;
    }

    &:not(:first-child) {
      position: absolute;
      top: 0;
      z-index: 0;
    }

    a {
      display: block;
      width: 100%;
    }

    img {
      display: block;
      width: 100%;
      object-fit: cover;
    }

    &.on {
      z-index: 3;
      opacity: 1;
    }
  }
}

/*<----------홈 바로가기 아이콘 shortcut icons---------->*/
.shortcut_icon_section {
  .center_wrap {
    position: relative;
    padding: 20px 10px;
    background: $colorWH1;
  }

  .slider_wrap {
    position: relative;
    overflow: hidden;
    height: 200px;
    max-width: calc(100% - 80px);
    margin: 0 auto;
  }

  .slider {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &.animated {
      transition: left 0.3s;
    }
  }

  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 50%;
  }

  .content_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;

    img {
      height: 60%;
      max-height: 85px;
    }
  }

  .icon_txt {
    margin-top: 15px;
    color: $colorBK1;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .prev_btn,
  .next_btn {
    display: block;
    position: absolute;
    top: 50%;
    z-index: 3;
    width: 40px;
    height: 40px;
    transform: translateY(-50%);

    img {
      display: block;
      height: 100%;
      margin: 0 auto;
    }
  }

  .prev_btn {
    left: 10px;

    img {
      transform: rotate(180deg);
    }
  }

  .next_btn {
    right: 10px;
  }
}

/*<----------홈 공지사항 notice---------->*/
.notice_section {
  padding: 20px 10px;

  .section_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid $colorDBK1;
  }

  .section_title {
    color: $colorDBK1;
    font-size: 1.9rem;
    font-weight: 800;
  }

  .more_link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
  }

  .notice_list {
    padding: 15px 0;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 0;
    }

    .notice_title {
      overflow: hidden;
      color: $colorBK1;
      font-size: 1.3rem;
      white-space: nowrap;
      text-overflow: ellipsis;

      &::before {
        display: inline-block;
        margin-right: 3px;
        width: 0.6rem;
        height: 0.6rem;
        border-radius: 50%;
        background: $colorTGN1;
        transform: translateY(-0.1rem);
        content: "";
      }
    }

    .notice_date {
      flex-shrink: 0;
      margin-left: 10px;
      color: $colortxtGR1;
      font-size: 1rem;
    }
  }
}

/*<----------홈 바로가기 블럭 shortcut blocks---------->*/
.shortcut_block_section {
  display: flex;
  flex-wrap: wrap;

  & > div {
    width: 50%;
    height: 40vw;
  }

  .text_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: $colorWH1;
    text-align: center;
  }

  .shortcut_txt {
    font-size: 1.7rem;
    font-weight: 600;
  }

  .shortcut_txt_sub {
    margin-top: 15px;
    font-size: 1.4rem;
  }

  .schedule {
    background: center / cover no-repeat url("../images/bg_calendar.png");

    .shortcut_txt_sub {
      &::after {
        display: inline-block;
        width: 1.6rem;
        height: 1.6rem;
        margin-left: 5px;
        background: center / contain no-repeat url("../images/arrow_next_white.png");
        transform: translateY(0.4rem);
        content: "";
      }
    }
  }

  .sites {
    background: center / cover no-repeat url("../images/bg_sites.png");
  }

  .faq {
    background: center / cover no-repeat url("../images/bg_faq.png");
  }

  .ask {
    background: center / cover no-repeat url("../images/bg_question.png");

    .shortcut_txt {
      line-height: 1.3;
    }
  }
}

/*<----------도서 books---------->*/
.books_section {
  padding: 30px 10px;
  background: $colorLGR1;

  .center_wrap {
    position: relative;
  }

  .category_tabs {
    display: flex;
    border-bottom: 2px solid $colorDBK1;
    margin-bottom: 30px;
    padding: 10px;
  }

  .tab {
    color: $colortxtGR1;
    font-size: 1.9rem;
    font-weight: 800;
    margin-right: 12px;
    transition: color 0.2s;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
    }

    &.on {
      color: $colorDBK1;
    }
  }

  .books_list_wrap {
    display: none;

    &.on {
      display: block;
    }
  }

  .books_list {
    display: flex;
    align-items: center;
    overflow: hidden;

    li {
      flex-shrink: 0;
      width: 50%;
    }
  }

  .book_content {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }

  .book_cover {
    max-width: initial;
    width: 100%;
    min-height: 200px;
    height: 30vh;
    object-fit: cover;
  }

  .book_title {
    overflow: hidden;
    margin: 20px 5px 10px;
    color: $colorBK1;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .book_info {
    overflow: hidden;
    margin: 0 5px 10px;
    color: $colortxtGR1;
    font-size: 1.3rem;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .book_date {
    margin: 0 5px 10px;
    color: $colortxtGR1;
    font-size: 1.3rem;
    text-align: center;
  }

  .more_link {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 2rem;
    height: 2rem;
  }
}

/*<----------배너 banner---------->*/
.banner_and_familysite {
  display: none;
}

/*<----------푸터 footer---------->*/
.footer {
  background: $colorNV2;
  color: $colorWH1;

  .center_wrap {
    padding: 0 15px;
  }

  .footer_box1 {
    padding: 10px 0;
  }

  .footer_menu {
    a {
      display: block;
      width: 60%;
      margin: 0 auto;
      padding: 10px;
      font-size: 1.3rem;
      text-align: center;

      &:first-of-type {
        font-weight: 600;
      }

      &:nth-of-type(2),
      &:nth-of-type(3) {
        opacity: 0.3;
      }
    }

    .divider {
      width: 100%;
      background: $colorWH1;
      opacity: 0.3;
    }
  }

  .footer_logo {
    display: none;
  }

  .footer_box2 {
    padding: 10px 0 30px;
  }

  .contact {
    margin-bottom: 20px;
    font-size: 1.1rem;
    text-align: center;

    .address {
      margin-bottom: 10px;
      font-weight: 600;
      font-style: normal;
    }

    .tel,
    .fax {
      margin-bottom: 5px;
      opacity: 0.3;
    }
  }

  .copyright {
    font-size: 1.1rem;
    text-align: center;
    opacity: 0.3;
  }

  .footer_box3 {
    display: none;
  }
}
/*==============================================
|||||||||||||||||||||||||||||||||||||||||||||||||
  태블릿 Tablet
|||||||||||||||||||||||||||||||||||||||||||||||||
================================================*/
@media only screen and (min-width: 768px) {
  /*==============================================
    랜딩 페이지
  ================================================*/
  /*<----------헤더 header---------->*/
  .header {
    .util_mobile_wrap {
      display: none;
    }

    .header_wrap {
      padding: 15px;
    }

    h1 {
      width: 220px;
    }

    .util {
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: 20px;
      padding: 10px 10px;
      border: 1px solid $colortxtGR1;
      border-radius: 3px;

      li {
        display: flex;
        align-items: center;
        margin-right: 10px;

        &:last-child {
          margin-right: 0;
        }

        img {
          margin-right: 4px;
          width: 1.4rem;
        }

        a {
          font-size: 1.4rem;
          color: $colortxtGR1;
        }
      }
    }

    .hamburger_menu {
      padding: 7px 9px;
      font-size: 1.4rem;
    }
  }

  /*<----------네비게이션 navigation---------->*/
  .nav_wrap {
    .nav_bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: rgba($color: $colorBK1, $alpha: 0.7);
      opacity: 0;
      transition: all 0.3s ease-in-out;
      pointer-events: none;

      &.on {
        opacity: 1;
        pointer-events: initial;
      }
    }

    .nav {
      width: 70%;
    }

    .depth1_title {
      padding: 20px;
      font-size: 2rem;
    }

    .depth2_list li a {
      padding: 15px 0;
      font-size: 1.7rem;
    }
  }

  /*<----------홈 검색 search---------->*/
  .search_section {
    .section_title {
      position: static;
      width: initial;
      height: initial;
      margin: 0 40px 0 0;
      color: $colorWH1;
      font-size: 2.4rem;
      font-weight: 600;
    }

    .search_form::after {
      right: 15px;
    }

    .search_input {
      padding: 10px 49px 10px 15px;
    }
  }

  /*<----------홈 바로가기 아이콘 shortcut icons---------->*/
  .shortcut_icon_section {
    .center_wrap {
      max-width: 75%;
      padding: 20px 0;
    }

    .slider_wrap {
      height: 220px;
      max-width: calc(100% - 96px);
    }

    .slide {
      width: 33%;
    }

    .content_wrap img {
      max-height: 100px;
    }

    .icon_txt {
      margin-top: 30px;
      font-size: 1.7rem;
    }

    .prev_btn,
    .next_btn {
      width: 48px;
      height: 48px;
    }

    .prev_btn {
      left: 0px;
    }

    .next_btn {
      right: 0px;
    }
  }

  /*<----------홈 공지사항 notice---------->*/
  .notice_section {
    max-width: 75%;
    margin: 0 auto;

    .section_head {
      padding: 15px;
    }

    .section_title {
      font-size: 2.4rem;
    }

    .more_link {
      width: 2.4rem;
      height: 2.4rem;
    }

    .notice_list {
      .notice_title {
        font-size: 1.7rem;

        &::before {
          width: 0.8rem;
          height: 0.8rem;
          transform: translateY(-0.15rem);
        }
      }

      .notice_date {
        font-size: 1.5rem;
      }
    }
  }

  /*<----------홈 바로가기 블럭 shortcut block---------->*/
  .shortcut_block_section {
    & > div {
      width: 25%;
      height: 20vw;
    }

    .shortcut_txt {
      font-size: 2.4rem;
    }

    .shortcut_txt_sub {
      font-size: 2.1rem;
    }

    .schedule .shortcut_txt_sub::after {
      width: 1.8rem;
      height: 1.8rem;
      transform: translateY(0.4rem);
    }
  }

  /*<----------도서 books---------->*/
  .books_section {
    padding: 40px 10px;

    .category_tabs {
      max-width: 75%;
      margin: 0 auto 30px;
      padding: 15px;
    }

    .tab {
      font-size: 2.4rem;
      margin-right: 20px;
    }

    .books_list_wrap {
      max-width: 75%;
      margin: 0 auto;
    }

    .books_list {
      li {
        width: 33.3334%;
      }
    }

    .book_cover {
      height: 24vh;
    }

    .book_title {
      font-size: 1.7rem;
    }

    .book_info {
      font-size: 1.5rem;
    }

    .book_date {
      font-size: 1.5rem;
    }

    .more_link {
      top: 15px;
      right: calc(12.5% + 15px);
      width: 2.4rem;
      height: 2.4rem;
    }
  }

  /*<----------푸터 footer---------->*/
  .footer {
    padding: 40px 40px 50px;

    .center_wrap {
      position: relative;
    }

    .footer_box1 {
      padding: 0;
    }

    .footer_menu {
      display: flex;
      align-items: center;

      a {
        position: relative;
        width: auto;
        margin: 0 15px 0 0;
        padding: 0 15px 0 0;
        font-size: 1.5rem;

        &::after {
          position: absolute;
          top: 50%;
          right: 0;
          width: 1px;
          height: 100%;
          background: $colorWH1;
          opacity: 0.3;
          transform: translateY(-50%);
          content: "";
        }

        &:nth-of-type(2),
        &:nth-of-type(3) {
          opacity: 0.3;
        }
      }

      .divider {
        display: none;
      }
    }

    .footer_box2 {
      padding: 30px 0 0px;
    }

    .contact {
      margin-bottom: 20px;
      font-size: 1.5rem;
      text-align: left;

      .tel,
      .fax {
        display: inline-block;
        margin-right: 15px;
      }
    }

    .copyright {
      font-size: 1.5rem;
      text-align: left;
    }

    .footer_box3 {
      display: block;
      position: absolute;
      top: 50%;
      right: 15px;
      width: 120px;
      transform: translateY(-50%);
    }
  }
}

/*==============================================
|||||||||||||||||||||||||||||||||||||||||||||||||
  PC
|||||||||||||||||||||||||||||||||||||||||||||||||
================================================*/
@media only screen and (min-width: 1132px) {
  /*==============================================
    랜딩 페이지
  ================================================*/
  /*<----------헤더 header---------->*/
  .header {
    box-shadow: 0 3px 3px rgba($color: $colorBK1, $alpha: 0.3);

    h1 {
      width: 240px;
    }

    .util {
      margin-right: 0;
    }
    .hamburger_menu {
      display: none;
    }

    .header_wrap {
      box-shadow: none;
    }
  }

  /*<----------네비게이션 navigation---------->*/
  .nav_wrap {
    height: auto;
    border-top: 1px solid $colorlineLGR1;

    .nav_bg {
      display: none;
    }

    .nav {
      display: block;
      position: relative;
      width: 100%;
      height: auto;
      background-color: $colorWH1;
      transform: initial;
    }

    .depth1_list {
      display: flex;
      max-width: 1132px;
      margin: 0 auto;
    }

    .depth1_menu {
      flex-grow: 1;

      &:last-child .depth1_title::before {
        display: none;
      }

      &:hover .depth2_wrap {
        display: block;
      }
    }

    .depth1_title {
      padding: 20px 10px;
      border-bottom: 0;
      background: $colorWH1;
      color: $colorDBK1;
      font-size: 1.9em;
      font-weight: 600;
      text-align: center;
      transition: background-color 0.1s, color 0.1s;

      .arrow_box {
        display: none;
      }

      &::before {
        position: absolute;
        top: 50%;
        right: 0;
        width: 1px;
        height: 50%;
        background: $colorlineLGR1;
        transform: translateY(-50%);
        content: "";
      }

      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 0;
        width: 100%;
        background: $colorTGN1;
        opacity: 0;
        transition: all 0.2s;
        content: "";
      }

      &:focus::after,
      &:hover::after {
        height: 4px;
        opacity: 1;
      }
    }

    .depth2_wrap {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: auto;
      padding: 30px 0 40px;
      border-top: 1px solid $colorlineLGR1;
      background: $colorWH1;
      box-shadow: 0 3px 3px rgba($color: $colorBK1, $alpha: 0.3);

      .center_wrap {
        display: flex;
      }
    }

    .depth2_intro {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 22%;
      padding: 30px 0;
      border-right: 1px solid $colorlineLGR1;

      .intro_title {
        margin-bottom: 30px;
        font-size: 2.2rem;
        font-weight: 800;
      }

      img {
        display: block;
        width: auto;
        height: 88px;
      }
    }

    .depth2_list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      width: 78%;
      padding: 0 40px;

      &.sub1 li:last-child,
      &.sub5 li:last-child {
        width: 33.3333%;
      }

      li {
        width: 33.3333%;

        a {
          margin-right: 50px;
          padding: 12px 0 12px 20px;
          border-bottom: 1px solid $colorlineLGR1;
          background: $colorWH1;
          color: $colorBK1;
          font-size: 1.7rem;
          font-weight: 600;
          text-align: left;
          transition: all 0.2s;

          &:hover,
          &:focus {
            background: $colorBL1;
            color: $colorWH1;
            font-weight: 800;
          }
        }

        &:nth-child(odd) {
          border-right: 0;
        }
      }
    }
  }

  /*<----------비주얼 visual---------->*/
  .visual_section .slider {
    max-width: 1920px;
    margin: 0 auto;
  }

  /*<----------홈 바로가기 아이콘 shortcut icons---------->*/
  .shortcut_icon_section {
    .center_wrap {
      max-width: 1132px;
      padding: 50px 0;
    }

    .slider_wrap {
      max-width: calc(100% - 120px);
    }

    .slide {
      width: 25%;
    }

    .content_wrap img {
      max-height: 110px;
    }

    .prev_btn,
    .next_btn {
      width: 60px;
      height: 60px;
    }
  }

  /*<----------홈 공지사항 notice---------->*/
  .notice_and_block {
    display: flex;
    align-items: center;
  }

  .notice_section {
    max-width: 50%;
    margin: 0;
    padding: 20px 30px;

    .section_head {
      padding: 25px 15px;
    }

    .notice_list {
      padding: 25px 0;

      li {
        padding: 20px 0;
      }

      .notice_title a {
        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }

      .notice_date {
        margin-left: 20px;
      }
    }
  }

  /*<----------홈 바로가기 블럭 shortcut block---------->*/
  .shortcut_block_section {
    width: 50%;

    & > div {
      position: relative;
      width: 50%;
      height: auto;
      min-height: 230px;
    }

    .text_wrap {
      transition: all 0.4s;

      &:hover,
      &:focus {
        background: rgba($color: $colorDBK1, $alpha: 0.6);
      }
    }
  }

  /*<----------도서 books---------->*/
  .books_section {
    padding: 40px 10px 50px;

    .center_wrap {
      padding: 0 30px;
    }

    .category_tabs {
      max-width: initial;
      margin: 0 auto 50px;
      padding: 25px 15px;
    }

    .tab:hover {
      color: $colorBL1;
    }

    .books_list_wrap {
      max-width: initial;
    }

    .books_list {
      li {
        width: 25%;
      }
    }

    .book_cover {
      height: 360px;
    }

    .book_title {
      margin: 25px 5px 10px;
    }

    .more_link {
      top: 25px;
      right: 45px;
    }
  }

  /*<----------배너 banner---------->*/
  .banner_and_familysite {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 50px 0;
  }

  .banner_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;

    .slider_wrap {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 55px;
    }

    .slider {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &.animated {
        transition: left 0.3s;
      }
    }

    .slide {
      flex-shrink: 0;
      width: 25%;

      a {
        display: block;
        width: 90%;
        margin: 0 auto;
      }
    }

    .slider_nav {
      display: flex;
      margin-top: 25px;

      li {
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background: $colorlineGR1;
        margin-right: 6px;
        cursor: pointer;
        transition: background 0.3s;

        &:last-child {
          margin-right: 0;
        }

        &.on {
          background: $colorTGN1;
        }
      }
    }
  }

  /*<----------관련 사이트 family site---------->*/
  .familysite_section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 95px;
    border-left: 1px solid $colorlineGR1;

    .familysite_dropbox {
      position: relative;
      overflow: hidden;
      cursor: pointer;

      &.on {
        overflow: visible;

        .arrow_box img {
          transform: rotate(0deg);
        }

        .familysite_list {
          display: block;
        }
      }
    }

    .familysite_select {
      position: relative;
      padding: 15px 55px 15px 15px;
      border: 2px solid $colorlineLGR1;
      border-radius: 5px;
      font-size: 1.7rem;
      font-weight: 600;
    }

    .arrow_box {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 50%;
      right: 15px;
      width: 2rem;
      height: 2rem;
      transform: translateY(-50%);
      pointer-events: none;

      img {
        transform: rotate(180deg);
        transition: all 0.3s ease-in-out;
      }
    }

    .familysite_list {
      display: none;
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      width: 100%;
      border: 1px solid $colorlineLGR1;
      background: $colorWH1;
      border-radius: 5px;
      transform: translateY(-100%);

      li {
        width: 100%;
        padding: 15px 10px;
        color: $colorBK1;
        font-size: 1.7rem;
        text-align: center;

        &:hover,
        &:active {
          background: $colorLGR1;
        }
      }
    }
  }
}
